footer{
    width: 100%;
    height: 400px;
    background-color: #5b5b5b;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

footer>div{
    width: 90%;
    height: 100%;
    background-color: green;
}